
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
			<div class="row">
				<!-- main title -->
				<div class="col-12">
					<div class="main__title">
						<h2>Trang Chủ</h2>

						
					</div>
				</div>
				<!-- end main title -->

				<!-- stats -->
				<div class="col-12 col-sm-6 col-xl-3">
					<div class="stats">
						<span>Tài Khoản</span>
						<p>12</p>
						<i class="icon ion-ios-stats"></i>
					</div>
				</div>
				<!-- end stats -->

				<!-- stats -->
				<div class="col-12 col-sm-6 col-xl-3">
					<div class="stats">
						<span>Phim Lẻ</span>
						<p>10</p>
						<i class="icon ion-ios-film"></i>
					</div>
				</div>
				<!-- end stats -->

				<!-- stats -->
				<div class="col-12 col-sm-6 col-xl-3">
					<div class="stats">
						<span>Phim Bộ</span>
						<p>10</p>
						<i class="icon ion-ios-film"></i>
					</div>
				</div>
				<!-- end stats -->

				<!-- stats -->
				<div class="col-12 col-sm-6 col-xl-3">
					<div class="stats">
						<span>Tin Tức</span>
						<p>10</p>
						<i class="icon ion-ios-star-half"></i>
					</div>
				</div>
				<!-- end stats -->

				<!-- dashbox Phim Hot-->
				<div class="col-12 col-xl-6">
					<div class="dashbox">
						<div class="dashbox__title">
							<h3><i class="icon ion-ios-trophy"></i> Phim Lẻ </h3>

							<div class="dashbox__wrap">
								<a class="dashbox__refresh" href="#"><i class="icon ion-ios-refresh"></i></a>
								<a class="dashbox__more" href="catalog.html">View All</a>
							</div>
						</div>

						<div class="dashbox__table-wrap">
							<table class="main__table main__table--dash">
								<thead>
									<tr>
										<th>ID</th>
										<th>TÊN PHIM</th>
										<th>QUỐC GIA</th>
										<th>NĂM</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="main__table-text">13</div>
										</td>
										<td>
											<div class="main__table-text">Câu Chuyện Về Benedetta - Benedetta</div>
										</td>
										<td>
											<div class="main__table-text">Pháp</div>
										</td>
										<td>
											<div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i> 2021</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="main__table-text">14</div>
										</td>
										<td>
											<div class="main__table-text">Tình Mẹ - Motherly</div>
										</td>
										<td>
											<div class="main__table-text">Mỹ</div>
										</td>
										<td>
											<div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i> 2021</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="main__table-text">15</div>
										</td>
										<td>
											<div class="main__table-text">Sát Thủ Xe Lăn - Kills On Wheels</div>
										</td>
										<td>
											<div class="main__table-text">Mỹ</div>
										</td>
										<td>
											<div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i> 2021</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="main__table-text">16</div>
										</td>
										<td>
											<div class="main__table-text">Evan Hansen Thân Mến - Dear Evan Hansen</div>
										</td>
										<td>
											<div class="main__table-text">Mỹ</div>
										</td>
										<td>
											<div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i> 2021</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="main__table-text">17</div>
										</td>
										<td>
											<div class="main__table-text">Giáng Sinh Cuối Cùng - Spencer</div>
										</td>
										<td>
											<div class="main__table-text">Mỹ</div>
										</td>
										<td>
											<div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i> 2021</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- end dashbox -->

				<!-- dashbox Phim Mới Cập Nhật -->
				<div class="col-12 col-xl-6">
					<div class="dashbox">
						<div class="dashbox__title">
							<h3><i class="icon ion-ios-film"></i> Phim Bộ</h3>

							<div class="dashbox__wrap">
								<a class="dashbox__refresh" href="#"><i class="icon ion-ios-refresh"></i></a>
								<a class="dashbox__more" href="catalog.html">View All</a>
							</div>
						</div>

						<div class="dashbox__table-wrap">
							<table class="main__table main__table--dash">
								<thead>
									<tr>
										<th>ID</th>
										<th>TÊN PHIM</th>
										<th>QUỐC GIA</th>
										<th>NĂM</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="main__table-text">3</div>
										</td>
										<td>
											<div class="main__table-text">Hạnh Phúc: Chung Cư Có Độc - Nắm Giữ Sinh Mệnh (Happiness 2021)</div>
										</td>
										<td>
											<div class="main__table-text">Hàn Quốc</div>
										</td>
										<td>
											<div class="main__table-text main__table-text--green">2021</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="main__table-text">4</div>
										</td>
										<td>
											<div class="main__table-text">Nhan Sắc Ảo - Người Đẹp Bóng Tối (Shadow Beauty 2021)</div>
										</td>
										<td>
											<div class="main__table-text">Hàn Quốc</div>
										</td>
										<td>
											<div class="main__table-text main__table-text--green">2021</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="main__table-text">5</div>
										</td>
										<td>
											<div class="main__table-text">Hình Bóng Của Tôi - Reflection Of You</div>
										</td>
										<td>
											<div class="main__table-text">Anh</div>
										</td>
										<td>
											<div class="main__table-text main__table-text--green">2021</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="main__table-text">6</div>
										</td>
										<td>
											<div class="main__table-text">Nửa Thời Gian Ấm Áp - The Memory About You (2021) 2</div>
										</td>
										<td>
											<div class="main__table-text">Trung Quốc</div>
										</td>
										<td>
											<div class="main__table-text main__table-text--green">2021</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="main__table-text">7</div>
										</td>
										<td>
											<div class="main__table-text">Trò Chơi Săn Lùng Kẻ Ác - Game of Outlaws (2021)</div>
										</td>
										<td>
											<div class="main__table-text">Thái Lan</div>
										</td>
										<td>
											<div class="main__table-text main__table-text--green">2021</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- end dashbox -->

				<!-- dashbox Tài Khoản Đã Thêm-->
				<div class="col-12 col-xl-6">
					<div class="dashbox">
						<div class="dashbox__title">
							<h3><i class="icon ion-ios-contacts"></i> Tài Khoản Đã Thêm</h3>

							<div class="dashbox__wrap">
								<a class="dashbox__refresh" href="#"><i class="icon ion-ios-refresh"></i></a>
								<a class="dashbox__more" href="users.html">View All</a>
							</div>
						</div>

						<div class="dashbox__table-wrap">
							<table class="main__table main__table--dash">
								<thead>
									<tr>
										<th>ID</th>
										<th>HỌ TÊN</th>
										<th>EMAIL</th>
										<th>QUYỀN</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="main__table-text">1</div>
										</td>
										<td>
											<div class="main__table-text">Phan Nguyễn Trọng Đức</div>
										</td>
										<td>
											<div class="main__table-text main__table-text--grey">Trongduc0403@gmail.com</div>
										</td>
										<td>
											<div class="main__table-text">Quản Trị Viên</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="main__table-text">3</div>
										</td>
										<td>
											<div class="main__table-text">Person23</div>
										</td>
										<td>
											<div class="main__table-text main__table-text--grey">Person1@gmail.com</div>
										</td>
										<td>
											<div class="main__table-text">Người Dùng</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="main__table-text">4</div>
										</td>
										<td>
											<div class="main__table-text">Person 2</div>
										</td>
										<td>
											<div class="main__table-text main__table-text--grey">Person2@gmail.com</div>
										</td>
										<td>
											<div class="main__table-text">Người Dùng</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="main__table-text">5</div>
										</td>
										<td>
											<div class="main__table-text">Nguyễn Minh Trí</div>
										</td>
										<td>
											<div class="main__table-text main__table-text--grey">Minhtri@gmail.com</div>
										</td>
										<td>
											<div class="main__table-text">Quản Trị Viên</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="main__table-text">6</div>
										</td>
										<td>
											<div class="main__table-text">Person 3</div>
										</td>
										<td>
											<div class="main__table-text main__table-text--grey">Hello123@gmail.com</div>
										</td>
										<td>
											<div class="main__table-text">Người Dùng</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- end dashbox -->

				<!-- dashbox Phim Sắp Chiếu-->
				<div class="col-12 col-xl-6">
					<div class="dashbox">
						<div class="dashbox__title">
							<h3><i class="icon ion-ios-star-half"></i> Tin tức</h3>

							<div class="dashbox__wrap">
								<a class="dashbox__refresh" href="#"><i class="icon ion-ios-refresh"></i></a>
								<a class="dashbox__more" href="reviews.html">View All</a>
							</div>
						</div>

						<div class="dashbox__table-wrap">
							<table class="main__table main__table--dash">
								<thead>
									<tr>
										<th>ID</th>
										<th>TIÊU ĐỀ</th>
										<th>NGÀY CẬP NHẬT</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="main__table-text">7</div>
										</td>
										<td>
											<div class="main__table-text">Câu hỏi xoay quanh nhân vật em trai Thanos trong ‘Eternals’</div>
										</td>
										<td>
											<div class="main__table-text">2021-12-02 Doe</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="main__table-text">8</div>
										</td>
										<td>
											<div class="main__table-text">Diễn viên nhận đề cử giải Kim Kê bị khán giả phản ứng</div>
										</td>
										<td>
											<div class="main__table-text">2021-12-02</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="main__table-text">9</div>
										</td>
										<td>
											<div class="main__table-text">Mỹ nhân được đóng phim Marvel dù không casting</div>
										</td>
										<td>
											<div class="main__table-text">2021-12-02</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="main__table-text">10</div>
										</td>
										<td>
											<div class="main__table-text">Luật ngầm của nghệ sĩ Trung Quốc khi dự thảm đỏ</div>
										</td>
										<td>
											<div class="main__table-text">2021-12-02</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- end dashbox -->
			</div>
</div>