<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- footer list -->
            <div class="col-12 col-md-3">
                <h6 class="footer__title">Sử dụng ứng dụng tại</h6>
                <ul class="footer__app">
                    <li><a href="#"><img src="~/Assets/img/Download_on_the_App_Store_Badge.svg" alt=""></a></li>
                    <li><a href="#"><img src="~/Assets/img/google-play-badge.png" alt=""></a></li>
                </ul>
            </div>
            <!-- end footer list -->
            <!-- footer list -->
            <div class="col-6 col-sm-4 col-md-3">
                <h6 class="footer__title">Tài nguyên</h6>
                <ul class="footer__list">
                    <li><a href="#">Liên Hệ</a></li>
                    <li><a href="#">Bản Quyền</a></li>
                    <li><a href="#">Giới Thiệu</a></li>
                </ul>
            </div>
            <!-- end footer list -->
            <!-- footer list -->
            <div class="col-6 col-sm-4 col-md-3">
                <h6 class="footer__title">Hợp pháp</h6>
                <ul class="footer__list">
                    <li><a href="#">Điều khoản sử dụng</a></li>
                    <li><a href="#">Chính sách quyền riêng tư</a></li>
                    <li><a href="#">Bảo mật</a></li>
                </ul>
            </div>
            <!-- end footer list -->
            <!-- footer list -->
            <div class="col-12 col-sm-4 col-md-3">
                <h6 class="footer__title">Liên hệ</h6>
                <ul class="footer__list">
                    <li><a href="tel:0367189686">0367189686</a></li>
                    <li><a href="mailto:Nmtri12a118@gmail.com">Nmtri12a118@gmail.com</a></li>
                </ul>
                <ul class="footer__social">
                    <li class="facebook"><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
                    <li class="instagram"><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
                    <li class="twitter"><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
                    <li class="vk"><a href="#"><i class="icon ion-logo-vk"></i></a></li>
                </ul>
            </div>
            <!-- end footer list -->
            <!-- footer copyright -->
				<div class="col-12">
					<div class="footer__copyright">
						<small><a target="_blank" href="https://github.com/Joyce2709">GitHub</a></small>

						<ul>
							<li><a href="#">Điều khoản sử dụng</a></li>
							<li><a href="#">Chính sách quyền riêng tư</a></li>
						</ul>
					</div>
				</div>
				<!-- end footer copyright -->
        </div>
    </div>
</footer>