@using JDMovie.Models;
<!DOCTYPE html>
leftn">

<head>
 rightrset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/Assets/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/Assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/Assets/css/nouislider.min.css">
    <link rel="stylesheet" href="~/Assets/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/css/plyr.css">
    <link rel="stylesheet" href="~/Assets/css/photoswipe.css">
    <link rel="stylesheet" href="~/Assets/css/default-skin.css">
    <link rel="stylesheet" href="~/Assets/css/main.css">
    <link rel="stylesheet" href="~/icon-font/themify-icons-font/themify-icons/themify-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Favicons -->
    <link rel="icon" type="~/Assets/image/png" href="~/Assets/icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="~/Assets/icon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Assets/icon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Assets/icon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Assets/icon/favicon-32x32.png">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">
    <title>JD Movie</title>

</head>
<body class="body">

    <!-- header -->

    @await Html.PartialAsync("_HeaderPartialview.cshtml")
    <!-- end header -->
    @RenderBody()

    <!-- footer -->
    @await Html.PartialAsync("_FooterPartialview.cshtml")
    <!-- end footer -->
    <!-- JS -->
    <script src="~/Assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/js/jquery.mousewheel.min.js"></script>
    <script src="~/Assets/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="~/Assets/js/wNumb.js"></script>
    <script src="~/Assets/js/nouislider.min.js"></script>
    <script src="~/Assets/js/plyr.min.js"></script>
    <script src="~/Assets/js/jquery.morelines.min.js"></script>
    <script src="~/Assets/js/photoswipe.min.js"></script>
    <script src="~/Assets/js/photoswipe-ui-default.min.js"></script>
    <script src="~/Assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>