@model JDMovie.Models.CttapPhim

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="main__title">
				<h2>Sửa Tập Phim</h2>
			</div>
		</div>			
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
				<div class="col-12">
					<div class="row">
						<div class="col-12 col-lg-6">
							<form asp-action="Edit" class="profile__form">										
								<div class="row">
									<div class="col-12">
										<h4 class="profile__title"></h4>
									</div>
									<div asp-validation-summary="ModelOnly" class="text-danger"></div>
									<div class="col-12 ">
										<div class="profile__group">
											<label class="profile__label" for="username">Tên Phim</label>											
											 <select asp-for="Id" class ="form__input" asp-items="ViewBag.Id"></select>
										</div>
									</div>	
									<div class="col-12">
										<div class="profile__group">
											<label class="profile__label" for="username">Tập Phim</label>
											<input class="profile__input"  asp-for="TapPhim">
											 <span asp-validation-for="TapPhim" class="text-danger"></span>           
										</div>
									</div>
									<div class="col-12 ">
										<div class="profile__group">
											<label class="profile__label" for="username">Link Phim</label>
											<input class="profile__input"  asp-for="Link">
											 <span asp-validation-for="Link" class="text-danger"></span>           
										</div>
									</div>
									<div class="col-12">											
										<button class="profile__btn" type="submit">Sửa </button>	
										<button class="profile__btn" asp-controller="AdminCttapPhims" asp-action="Index" >Trở Về</button>							
									</div>					
								</div>
							</form>
						</div>
					</div>
				</div>	
			</div>				
		</div>			
	</div>
</div>