html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-danger {
    color: #dc3545 !important;
}

a.text-danger:hover, a.text-danger:focus {
    color: #a71d2a !important;
}

.text-white {
    color: white;
}

.card__cover:hover {
    -webkit-box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
    box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
    width: 240px;
    height: 355px;
}
.item:hover{
    width: 240px;
}
.card--details .card__cover:before {
    display: none;
    width: 240px;
}
.card__cover {
    width: 240px;
    height: 355px;
}