@model JDMovie.Models.Tintucphim

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Tintucphim</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idtintuc" />
            <div class="form-group">
                <label asp-for="Tieude" class="control-label"></label>
                <input asp-for="Tieude" class="form-control" />
                <span asp-validation-for="Tieude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tomtat" class="control-label"></label>
                <input asp-for="Tomtat" class="form-control" />
                <span asp-validation-for="Tomtat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Noidung" class="control-label"></label>
                <input asp-for="Noidung" class="form-control" />
                <span asp-validation-for="Noidung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinhanh" class="control-label"></label>
                <input asp-for="Hinhanh" class="form-control" />
                <span asp-validation-for="Hinhanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaycapnhat" class="control-label"></label>
                <input asp-for="Ngaycapnhat" class="form-control" />
                <span asp-validation-for="Ngaycapnhat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Luotxem" class="control-label"></label>
                <input asp-for="Luotxem" class="form-control" />
                <span asp-validation-for="Luotxem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

