
@{
    ViewData["Title"] = "Index Phim Bo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section section--first section--bg" src="~/Assets/img/section/section.jpg">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section__wrap">
					<h2 style="font-size: 50px;color:white; ">Phim Bộ</h2>					
				</div>
			</div>
		</div>
	</div>
</section>
<div class="catalog">
	<div class="container">
		<div class="row">
			
				@foreach (var item in ViewBag.phimbo)
				{
					<div class="col-6 col-sm-4 col-lg-3 ">
						<div class="card">
							<div class="card__cover">
								<img style="width:240px;height:355px;"  src="@("~/img/" +item.Img)" asp-append-version="true" />
								<a  class="card__play">
									<i class="icon ion-ios-play"></i>
								</a>
							</div>
							<div class="card__content">
								<h3 style="height:100px; font-size: 30px;color:white;text-align:center;"><a asp-action="Details" asp-route-id="@item.Id"></a>@item.TenPhim</h3>
							</div>
						</div>
					</div>
				}
		</div>
	</div>
</div>
